[2015-12-29 23:59] kellysutton opened #2 "Use namespaced animation names to avoid clobbering other animations"
Currently we use `fade` and `fadeZoom`, which have a non-zero chance of conflicting with something else on the page. We should prefix those with `luminous`.

[2015-12-30 00:02] #2 closed

[2016-01-08 19:35] paulstraw opened #4 "Fix `HAS_ANIMATION` when loaded before `document.body` is available"

[2016-01-08 21:19] #4 closed

[2016-01-12 15:00] jackmcdade opened #6 "Close on scroll"
Is there any way to support closing the lightbox on a scroll event in addition to the click event?

[2016-01-12 21:34] jackmcdade opened #7 "Support a caption or arbitrary markup"
Is there any way (or plans) to support adding a caption or or some markup to the lightbox declaratively? For example, if i wanted to add `data-title="Pretty flowers"` to my luminous element, I'd love to show that under the lightbox.

[2016-01-13 05:47] #6 closed

[2016-01-13 08:56] #7 closed

[2016-01-13 14:07] jackmcdade opened #9 "Images smaller than lightbox container aren't centered."
Just a little tiny fix needed. PR incoming.

[2016-01-14 02:06] #9 closed

[2016-01-14 02:12] paulstraw commented on #9
This is merged in and released in 0.2.1. Thanks Jack.

[2016-01-23 21:24] Dan9boi opened #13 "querySelectorAll not working"
Hi, just wanna say great plugin!

But what is the deal with having multiple elements, like a gallery, which all have to use Luminous. Then you'd have to create a loop for getting all elements with the same class, like this:

```javascript`
var triggers = document.querySelectorAll('.product-zoom');
[].forEach.call(triggers, function(trigger) {
    new Luminous(trigger);
});
[code]

[2016-01-26 20:17] paulstraw commented on #13
Hey @Dan9boi, thanks for reaching out. Luminous follows the common vanilla JS library pattern of accepting a single DOM element for initialization. For a good example, check out David Desandro's venerable [Masonry](http://masonry.desandro.com/#getting-started) (under "Initialize with Vanilla JavaScript").

There's definitely not a concern about having too many instances; basically any jQuery plugi

[2016-01-28 09:58] Dan9boi commented on #13
Ok, thank you for the clarification :)

[2016-01-28 09:58] #13 closed

[2016-02-26 22:58] mtsweir opened #14 "Only working on the first image"
Downloaded the manual version of this and duplicated the demo link a number of times, but it only opens the first image in a lightbox, the rest only open as a default click to the image.

[2016-02-26 22:59] paulstraw commented on #14
Hey @mtsweir, can you send through the code you're using?

[2016-02-26 23:01] mtsweir commented on #14
My header css looks like this:
`<link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" media="screen, projection" href="node_modules/luminous-lightbox/dist/luminous-basic.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>`

Demo content looks like this:
`<div class="col-sm-6 col-md-4 image-block-tile">
          <a cl

[2016-02-26 23:06] paulstraw commented on #14
`document.querySelector` only returns the first matching element. What you'd typically want to do in this case is use `document.querySelectorAll` and a loop, but since you've got jQuery loaded anyway, we can use that:

[code]

Hope that helps, let me know if you have any other questions!

[2016-02-26 23:06] #14 closed

[2016-02-26 23:23] mtsweir commented on #14
Beautiful, thank you sir!

[2016-02-26 23:34] paulstraw commented on #14
:+1:

[2016-03-10 19:17] Haroenv opened #15 "requiring ./util/"
For some reason, it seems to require `./util`, and if it doesn't, it throws an error

[code]

This is returned when I try to do

[code]

or

[code]

I'm making use of Browserify

[2016-03-11 23:06] paulstraw commented on #15
Hey @Haroenv, I'm going to make some changes to how Luminous is set up in order to work better with more JS environments. I'll update you as soon as that's taken care of.

[2016-03-11 23:14] Haroenv commented on #15
Okay, thanks for your consideration

[2016-03-15 22:09] paulstraw commented on #15
Hey @Haroenv, can you give this a go with 0.2.4 and let me know if you're still running into any issues? It should be set now.

[2016-03-15 22:11] Haroenv commented on #15
I will tomorrow

[2016-03-16 15:58] Haroenv commented on #15
I've updated to 0.2.4, but I still get this:

[code]

[2016-03-16 22:03] paulstraw commented on #15
Hmm, I can't replicate this with `0.2.4`. Could you send through a minimum test case?

[2016-03-17 18:46] Haroenv commented on #15
Can you reproduce with this: https://github.com/Haroenv/luminous-test ?

[2016-03-18 17:58] paulstraw commented on #15
Ah, I see what's going on, thanks for the great example. This is happening because Browserify is effectively trying to re-Browserify a file that has already been Browserified (all Luminous' requirements have already been inlined in the UMD style in the dist file referenced). Since this is the case, you can work around it by adding the Browserify `noParse` option to your config, e.g.:

[code]

Let

[2016-03-18 19:35] clintonhalpin opened #17 "Readme: License link 404's"
In the README.md the Current license links to:
[code]

The issue here is that I'm guessing Github links are case sensitive so this URL will work:
[code]

[2016-03-18 20:16] paulstraw commented on #17
Whoops! Good catch. Fixed now.

[2016-03-18 20:16] #17 closed

[2016-03-21 20:27] paulstraw commented on #15
Hey @Haroenv, I'm going to go ahead and close this, but please feel free to reopen if the above update doesn't solve the issue for you!

[2016-03-21 20:30] Haroenv commented on #15
I'm not able to test that RN, but if it does, wouldn't it be useful to put it in the README?

[2016-03-21 20:31] paulstraw commented on #15
Sure thing. I'll reopen for that.

[2016-03-21 20:43] paulstraw commented on #15
Added a note about this in fb9130c3c9adbad9e6eb530ddaa59a3f29a79f0a

[2016-03-21 20:43] #15 closed

[2016-03-23 00:10] killion opened #18 "onOpen and onClose fires on init"
Hi there, we are Imgix customers and are grateful for this lib since we don't use jQuery. We are trying to set it up and are running into an issue. We want to extend Luminous to be a full gallery by using the onOpen and onClose event calls to modify the lightbox. But the events fire when the Luminous is created not when it opens or closes. Here is a demo: http://codepen.io/killion/pen/pyPymJ

Than

[2016-04-03 21:34] paulstraw commented on #18
Hey there @killion, thanks for the great example. The reason you're seeing this behavior is because `onOpen` and `onClose` should be passed a function reference. I've edited your CodePen with an example of how this works: http://codepen.io/imgix/pen/zqEQGa

Feel free to reopen this issue if you have more questions!

[2016-04-03 21:34] #18 closed

[2016-04-21 16:14] bertramakers opened #19 "Image doesn't resize properly in Firefox (45.0.2)"
I noticed that images opened in Luminous don't resize properly in Firefox (45.0.2). This behavior is even noticeable on the Luminous demo page: http://imgix.github.io/luminous/

Simply open the image and play with the window size. Particularly resizing the width is troublesome for the demo image (because it's in landscape).

I've been looking around the element inspector what could fix this, and I

[2016-04-21 16:40] bertramakers commented on #19
I went ahead and created a pull request, but it seems the new build made some changes to the encapsulation of some function. I followed the instructions from https://github.com/imgix/luminous/blob/master/CONTRIBUTING.md, so I'm not sure if I missed something. I committed the new dist files separately so they can easily be reverted and build again if necessary.

[2016-04-21 23:19] paulstraw commented on #19
Odd. I'm going to manually rebuild and merge that in. I'd be interested to know why you're getting different build output, I may need to lock some things down a bit more in package.json. Can you send through the output of a `npm list` from your Luminous working dir?

Either way, thanks for the PR! I'll have a new version out with this fix shortly.

[2016-04-21 23:23] paulstraw commented on #19
Just released 0.2.5! https://github.com/imgix/luminous/releases/tag/0.2.5

[2016-04-22 08:15] bertramakers commented on #19
Thanks for the fast reply and for merging my PR!
I've attached the output from npm list below.
[npm-list.txt](https://github.com/imgix/luminous/files/231386/npm-list.txt)

[2016-04-22 23:44] paulstraw commented on #19
I'm not totally sure what's going on there, but it seems like one of the deps just slightly changed how they output JS with an update. I `rm -r`'d my `node_modules` and `npm install`ed, and now my output matches yours. Everything seems fine though, and the changes are fine by me, so I just went ahead and committed them. Thanks again for the PR, and for sending through your `npm list`!

[2016-04-22 23:44] #19 closed

[2016-05-05 03:15] podviaznikov opened #22 "Problem with destroy"
I create few `Luminous` object dynamically and then trying to `destroy` them in the react application on `componentWillUnmount`.

It seems like destroy will throw an error if Lightbox was never activated:

[code]
in the code above `this.lightbox.el` can be `undefined` when `this.lighbox.elementBuilt ` is false

[2016-05-14 00:30] #22 closed

[2016-05-14 00:33] paulstraw commented on #22
Good catch @podviaznikov! This is fixed and released as `0.2.7`: https://github.com/imgix/luminous/releases/tag/0.2.7

[2016-05-14 12:01] podviaznikov commented on #22
Perfect, thank you for the fix!

[2016-05-23 07:09] tompazourek opened #24 "Image gallery"
Hi Paul,

Thanks for a great library.

I was wondering if there are any guidelines or recommendations on how to display a set of images with some navigation. I know that many lightboxes often have some support for these use cases, I was wondering if there's some way of extending luminous to do that or if there are any future plans for that feature.

[2016-05-24 00:01] paulstraw commented on #24
Luminous doesn't currently have image gallery support, but I'm certainly not opposed to adding it. I'm not quite sure offhand yet when I'll be able to fit this in. If you wanted to take a stab at it, I'd also happily look at a PR. Feel free to bounce ideas off me here!

[2016-05-31 19:23] alexv9 commented on #24
Hi Paul, I would also be very interested in this feature 👍
Simple next, prev. buttons to flip through all images with the luminous class would be great.

[2016-06-12 23:23] paulstraw commented on #24
Hey @tompazourek  and @alexv9. I've just added this in [0.3.0](https://github.com/imgix/luminous/releases/tag/0.3.0) with the new LuminousGallery class. It should be documented pretty well in the readme, but let me know if anything needs clarification!

[2016-06-12 23:23] #24 closed

[2016-08-03 08:25] MuyBien opened #26 "Null displayed on Firefox if no caption defined"
Hi!
On Firefox, if no caption is defined for an image, then the word **null** is displayed at the bottom of the image. Not happening on Chrome.

Thanks.

[2016-08-04 00:02] #26 closed

[2016-08-04 00:46] paulstraw commented on #26
This is all set in 0.3.2 by the way, @MuyBien!

[2016-08-04 07:32] MuyBien commented on #26
Perfect!
Thanks for your reactivity!

[2016-08-18 08:41] wolf-w opened #28 "Lightbox isn't working in IE9 *FIX*"
IE leaves you alone with the following message:
[code]
no line numbers, no filename, just nothing.

after a bit of exploring the Lightbox object i found usages of classList.
So, You need to **include a classList Polyfill** and the Lightbox will work too in IE >= 9

-i knew that support is only for the last 2 versions of every Browser, but i think it will stop some Developers to use this Lightbox,

[2016-08-23 17:57] paulstraw commented on #28
Hey @wolf-w, thanks for detailing this. Luminous currently guarantees compatibility with the following browsers: https://github.com/imgix/luminous#browser-support

As all of those browsers support `classList`, we won't be adding this polyfill functionality at this point. You are, of course, welcome to include the polyfill in your page. If you do that, Luminous _may_ work in IE 9 and friends, but t

[2016-08-23 17:57] #28 closed

[2016-08-23 19:03] wolf-w commented on #28
Hi,
i know That you wan't add it to the core, but u can write it down to the docs, so other developers can find a fix easily

[2016-08-23 19:38] paulstraw commented on #28
Since it's officially unsupported (and other issues may be present in browsers that don't support `classList`), we won't be documenting this at this time.

[2016-09-01 15:43] jmagnusson opened #29 "Uncaught TypeError: Luminous is not a constructor"
I got `drift` to work after following @paulstraw's [temp fix for Browserify](https://github.com/imgix/drift/issues/39#issuecomment-240838422). But with `luminous` I haven't been as successful. I get `Uncaught TypeError: Luminous is not a constructor` when running the "browserified" version of the following code in the browser.

[code]

Where `Luminous` is an empty `Object {}`.

Using Browserify @

[2016-09-02 15:21] paulstraw opened #30 "Add an option for HTML captions"
Requested by @seanwash

[2016-09-02 15:24] paulstraw opened #31 "Improve LuminousGallery UX"
The navigation buttons are a bit overlarge right now.

[2016-09-07 00:47] paulstraw commented on #31
Closed by #33

[2016-09-07 00:47] #31 closed

[2016-09-07 00:47] paulstraw commented on #30
Closed by #32

[2016-09-07 00:47] #30 closed

[2016-10-04 20:21] paulstraw commented on #29
@jmagnusson, I think this was happening because `noParse` needs the full path. Can you try it with the value of `require.resolve('luminous-lightbox')`?

[2016-10-10 15:08] marcohamersma commented on #29
I'm having the same issue, although I'm using the CLI like: (`$ browserify js/main.js --noparse=$PWD/js/luminous.js`)

@paulstraw, I think you're describing is the issue where browserify seems to ignore the `noParse` option if the path is't absolute. I had that issue initially, only to get exposed to this one. I'm not sure this is is related, what do you think?

[2016-10-13 10:42] isaachinman commented on #7
@paulstraw Can you provide an example of how to use captions, given this update? I'm reading through the source code but it's not immediately obvious how you expect users to arrange the markup.

[2016-10-13 16:37] robinbastien opened #34 "onClose() firing when calling onOpen()"
It seems like onClose is firing onOpen() for me. Here's what I'm using

[code]

[2016-10-13 19:39] paulstraw commented on #34
Hey @robinbastien, this is basically the same thing as #18. You should be passing function references for those options, not the result of a function. I've updated your code, including the proper way to initialize multiple instances of Luminous:

[code]

[2016-10-13 19:39] #34 closed

[2016-10-13 20:23] paulstraw commented on #7
Hey @isaachinman, sorry this wasn't clear. As stated in the options in the readme:

If you have a static string, you can simply do something like `caption: 'hello world'`. If you want to do something more dynamic like pulling the value from an attribute, the `index.html` example you posted above is the approach.

[2016-10-13 21:43] paulstraw commented on #29
You're totally right, I was misunderstanding the original error. I've submitted a PR that reworks how Luminous interacts with build tools like Browserify. You shouldn't need to do the `noparse` stuff anymore, and should be able to `require('luminous-lightbox')` directly, as expected.

In my tests, this is working great. I've also got a friend who's using Luminous in one of his projects giving it a

[2016-10-14 07:42] isaachinman commented on #7
@paulstraw Yes, thanks. Although I fail to see the use of having something like `caption: 'hello world'`... this would set the same caption for all images in the lightbox, which seems rather contrary to what captions fundamentally are.

Also, there is a significant bug in the caption source code. I took after the `index.html` usage and used the alt attribute of my `img` tags for captions - two bir

[2016-10-14 14:50] marcohamersma commented on #29
Hmm, I'm getting `Cannot find module 'babelify'…`. If I then install babelify it throws similar errors for Babel presets.

I'm not using any babel-related things on my current project. Not sure why browserify is trying to  process the module. Either with or without the `noparse` option.  Does this make any sense to you?

[2016-10-14 18:18] paulstraw commented on #29
Ah, I forgot to mention that these changes now no longer require `noparse`. Can you give it a go without?

[2016-10-14 19:13] paulstraw commented on #7
Ah, that's a great catch @isaachinman. Thanks for the super-thorough report, too! If you want to submit a PR for that, I'd happily merge. If not, I can make that change too. Whichever works for you!

[2016-10-14 19:17] paulstraw commented on #7
Oh, and the static captions are really just for the simple case where it's a single image instead of a gallery.

[2016-10-14 19:29] paulstraw commented on #29
Turns out, I had to bump `babelify`, `babel-preset-es2015`, and `babel-preset-stage-0` up to `dependencies` in Luminous' package.json. @marcohamersma, if you `npm update luminous-lightbox` while it's pointed at that branch, this should work now. Let me know!

[2016-10-15 08:10] isaachinman commented on #7
@paulstraw Sorry, quite busy - so feel free to make the changes yourself. Cheers.

[2016-10-15 09:31] marcohamersma commented on #29
Right, that's it! works like a charm 👍

[2016-10-19 18:28] paulstraw commented on #29
This has been fixed and released as 1.0.1: https://github.com/imgix/luminous/releases/tag/1.0.1

[2016-10-19 18:28] #29 closed

[2016-10-27 22:01] cschults opened #37 "Trigger close from within a caption?"
Love the simplicity of Luminous. How might one set the closeTrigger option to fire off a click within the caption?

Use case: I have an image which is an excerpt of an infographic. I'd like the user to either click on the image or a link within the caption to go to another page with the full infographic. Thus, using "click" for closeTrigger won't work as clicking on the link would close the lightb

[2016-10-27 22:22] paulstraw commented on #37
Hey @cschults. There's actually a `close` method on Luminous instances, so you could set it up something like this (using jQuery for example simplicity):

[code]

Let me know if that works for you! Feel free to reopen this issue if you have more questions/comments.

[2016-10-27 22:22] #37 closed

[2016-10-27 23:23] cschults commented on #37
Thanks @paulstraw! I can get it to work, but subsequent attempts to reopen the lightbox results in the immediate closing of it. Will dig deeper, but if you have any suggestions, please do share!

[2016-10-27 23:45] paulstraw commented on #37
That's interesting. Could you possibly put together a reduced test case on CodePen or similar?

[2016-10-28 18:01] cschults commented on #37
@paulstraw I realized this behavior is caused when closeTrigger is set to "mouseleave", which I neglected to remove from a previous version. Working if set to "". Thanks for your help!

If you're interested in seeing the bug:
[http://codepen.io/anon/pen/RGmvqp](url)

[2016-10-28 18:01] paulstraw commented on #37
Very cool, glad you got it sorted!

[2016-11-09 17:09] sickill opened #38 "Support for ix-src and sizes attributes on <img>"
I use both imgix.js and Luminous, they work great. It would be even more awesome if Luminous/LuminousGallery could make use of `ix-src / srcset` and `sizes` attributes so the full images displayed in lightbox could be loaded in size proper for a given device. Right now I'm requesting 1920x1080 version but this makes little sense when lightbox is opened on a mobile phone.

Is this something you pla

[2016-12-19 21:52] weavermedia opened #39 "Luminous not opening on second click"
I have an intermittent issue when previewing images. The lightbox appears on first click but on second and subsequent clicks I just see the loading animation.

The affected lightbox DOM element is in the body, at the bottom, as expected and it contains the loaded image. The issue seems to be that the `lm-loading` class gets stuck and isn't removed when the image is previewed.

I made a quick vide

[2017-01-18 06:47] mikwehttam opened #40 "Won't work using ajax"
I created simple gallery and used the plugin for the lightbox, I used ajax for the categories, but when the ajax loads the lightbox won't work anymore

[2017-02-18 07:53] #39 closed

[2017-02-23 14:54] seanwash opened #42 "Image doesn't display on re-open in Safari and is stuck on loading"
Safari 10.0.3

## To reproduce

* Visit https://imgix.github.io/luminous/ in safari
* Click on image, then close it
* Click on image again

Here's a gif of the behavior, as well as the devtools showing the image is still in the DOM: https://cl.ly/jGo8

[2017-03-03 00:20] tjkomplex opened #43 "ES6 Modules not compiled before distribution"
I'm getting the following error while trying to use luminous with webpack.

[code]

Using either `const Luminous = require('luminous-lightbox').Luminous;` or `import { Luminous } from 'luminous-lightbox';` gives the same error. I've also tried many different babel plugins, including `babel-preset-latest` and `babel-preset-stage-0` with no luck.

Webpack config:
[code]

.babelrc settings:
[code]

U

[2017-03-03 02:29] AnalogMemory commented on #43
I'm getting the same error. I'm assuming it's from babel finding errors.

[2017-03-11 04:15] sudomabider commented on #43
+1 same error

[2017-05-30 17:21] asprouse commented on #43
@kstdnr
Looks like the package.json points directly to uncompiled ES6 Stage 2. Add the package to your rules:
[code]
And make sure that you have at least stage-2 babel preset (stage-0 includes stage-2). While this is a decent workaround, this package should really export precompiled code so that it is compatible with projects that are not using babel.

[2017-06-08 22:41] jeremymouton commented on #37
I ran into a similar issue with `LuminousGallery`, where I needed to be able to click a link in the caption while keeping the lightbox open.

Unfortunately, there is no `.close()` for LuminousGallery.

Here's my workaround if anyone else is wondering – there is probably a cleaner way to do this, please let me know how I can improve it.

[code]

Hope this helps someone!

[2017-06-25 05:04] spnkr opened #44 "Lightbox image not centred in mobile safari"
![image](https://user-images.githubusercontent.com/11250/27513799-3b9fdc14-5942-11e7-99d8-43ca1e33ee4b.png)

[2017-06-28 12:54] sonic1blaster commented on #43
+1 same (webpack 2.6.1, babel 6.23.0) with presets es2015

[2017-07-01 13:08] mishantrop opened #45 "Missing class properties transform"
[code]
main.js
[code]
webpack.config.js
[code]

[2017-07-01 13:22] mishantrop commented on #45
Solved.
`npm install --save-dev babel-plugin-transform-class-properties`
[code]

[2017-07-06 10:03] izcream commented on #43
+1 same too

[2017-08-07 16:27] prjctnxt commented on #43
+1

[2017-08-22 09:23] kaanoo2904 commented on #43
+1 :(

[2017-09-19 13:55] dalpras opened #46 ".lum-lightbox multiple .lum-open"
When using "new LuminousGallery" if I click to open and close the ligthbox via the triggering links many times, the lum-open is assigned to many lum-lightbox (not to only one).

Cheers, Bye
![lum-open](https://user-images.githubusercontent.com/11516569/30595906-e2c77eb2-9d52-11e7-93c4-87ab7e4eb508.png)

[2017-09-20 13:02] dalpras commented on #46
My fault! I didnt take care of multiple initialization, and I got multiple indipendent opened lightboxes.

[2017-09-20 13:02] #46 closed

[2017-10-09 10:33] chriso2014 commented on #43
+1

[2017-12-06 08:08] vikdiesel commented on #43
+1 same error

[2018-01-18 07:20] CHANist commented on #43
+1 same error
but fix, by altering webpack config.

{
        test: /\.js$/,
        loader: 'babel-loader',
        // exclude: /node_modules/,
        exclude: /node_modules\/(?!(luminous-lightbox)\/).*/,
      },

[2018-02-25 17:51] rzecchini commented on #42
Same here. Safari 9.1.2.
I think it is due to a fail in removing the `lum-loading` class.
Anyone solved it?

[2018-02-26 16:08] arnofo opened #48 "Add "onChange" parameter for LuminousGallery"
Hello,

First of all, thank you for this great library.

As the title says, I do feel like there is one feature missing for the LuminousGallery, which is an "onChange" callback parameter when we navigate to the previous or next Luminous instance.

It would probably be nice if the direction was passed as a parameter to the callback as well.

Thank you very much.

[2018-03-16 10:13] OZZlE commented on #40
1) Learn javascript 2) Call documented methods when ajax is complete..

[2018-03-16 10:14] OZZlE opened #49 "Mobile"
Opening a lightbox and then closing and opening it again makes the image(s) not load the second time. Only works again after reloading the page.

Tested on iOs10 + Chrome in mobile view

[2018-03-20 17:06] sgwatgit commented on #43
Added a PR https://github.com/imgix/luminous/pull/50 for this which I've tested locally and can confirm it works.

[2018-04-01 08:25] tommymarshall opened #51 "Please publish 2.0 to NPM"

[2018-04-02 16:11] jayeb commented on #51
Done, sorry about that.

[2018-04-02 16:11] #51 closed

[2018-04-12 11:40] koko236 commented on #43
Just to underline what's written above (for blind people like me).
1. You need to `import 'luminous-lightbox'`;
2. BUT you can access `Luminous` and `LuminousGallery`only **globally** by `window.Luminous` and `window.LuminousGallery`. I.e. no `import { Luminous }` or `import Luminous`, etc. will work.

[2018-04-22 20:49] jasongrishkoff opened #53 ""Refresh" Gallery, prevent multiple instances?"
I've got an image gallery that a user can upload images to. When they upload a new image, I want to "refresh" the gallery so that it works and includes this new image. But this seems to result in multiple instances of the same gallery -- so that when I click an image, it often takes two or three clicks before it closes because the image has opened three times.

Is there a good way to "reload" the

[2018-05-02 18:07] mikker commented on #43
I needed to

[code]

Then use `window.Luminous`

[2018-05-09 06:58] DanielRuf opened #59 "Add full (correct) testsuite, including dist files"
We need a full testsuite. Currently what we have in `test` is not sufficient and does not use the files from `dist`.

Let me know how we can help here.

[2018-05-28 11:29] grabus commented on #43
would be great if someone change documentation, because it is wrong https://github.com/imgix/luminous#installation (part about es6)

[2018-06-04 22:57] frederickfogerty commented on #59
Hey there Daniel,

I'm from Imgix and starting from today I'll be responsible for maintaining this repo (along with all the other Imgix JS repositories) in the future. Testing is high on our priority list, so I'd like to see how we could collaborate on developing a decent test suite for luminous.

You can help here by:
- outlining any issues with the testing at a high level (you've already mention

[2018-06-04 23:22] frederickfogerty commented on #53
Hey Jason

I'm from Imgix and I'll be maintaining this repo from today onwards. It currently seems that there is no way to "reload" the gallery or any support for preventing multiple instances. We may look to add these in the future, but for now, I see that there is a `.destroy()` method. Perhaps, it may work to destroy the instance and then create a new one when you want to refresh the gallery? D

[2018-06-04 23:27] frederickfogerty commented on #49
Hey @OZZlE 👋

I'm from Imgix and from today I'm responsible for maintaining this library. I'll try to reproduce this bug this week and will update here with my findings 👍

[2018-06-04 23:32] frederickfogerty commented on #48
Hey @arnofo 👋

I'm from Imgix and from today I'm responsible for the maintenance of this library. Currently, we're focussing on bugs and other issues, but I'll be sure to investigate this when we get to improving these libraries! 👍

[2018-06-04 23:34] #45 closed

[2018-06-04 23:41] frederickfogerty commented on #44
Hey @spnkr 👋

Fred from Imgix here. I'm responsible for maintaining this repo from today onwards. Can you confirm if this is still an issue? I'll try have a look at this later this week anyway.

[2018-06-04 23:43] frederickfogerty commented on #43
Hey all!

Fred from Imgix here, and from today I'll be responsible for the maintenance of this repo. I'll have a look at updating any necessary documentation and also look at updating the webpack config to solve this issues 👍

[2018-06-04 23:45] frederickfogerty commented on #42
Hey @seanwash and @rzecchini 👋

Fred here from Imgix. I'll be responsible for maintaining this library from today onwards. It seems that this is related to #49. I'll have a look and see if I can reproduce this week.

[2018-06-04 23:50] frederickfogerty commented on #40
Hey @mikwehttam 👋

Fred from Imgix here - I'm responsible for maintaining this repo from today onwards. Sorry to hear that you couldn't get this to work! Is this still an issue? If it is, could you please add some example code or a way that I could reproduce your issues? Thanks! - Fred, Imgix

[2018-06-04 23:53] frederickfogerty commented on #38
Hey @sickill 👋

Fred here from Imgix. From today I'm responsible for the maintenance of this repo. I'm not quite aware of the specifics around `ix-src`, but it seems reasonable for this library and `imgix.js` to work well together. Right now we're focussing on bugs and documentation, but I'll make sure to have a look at this when we get around to enhancing this repo.

Is this still a useful featur

[2018-06-05 20:42] frederickfogerty commented on #42
Hey @seanwash I've had a look at this and have tried to reproduce. I can't reproduce this on my version of Safari `11.1 (13605.1.33.1.2)`.

I searched around as to how to install an older version of Safari, but it seems to be [incredibly difficult](https://stackoverflow.com/questions/33423269/is-there-a-way-to-install-emulate-an-older-version-of-safari-i-e-8). I'm going to mark this as closed, but

[2018-06-05 20:42] #42 closed

[2018-06-05 20:58] frederickfogerty commented on #49
Hey @OZZlE I've tried to reproduce this and I'm unable to. This is a video of [https://imgix.github.io/luminous](https://imgix.github.io/luminous) on iOS `10.3.1`

![ios103imgix](https://user-images.githubusercontent.com/615334/41002353-9698daea-6967-11e8-899c-39b803be4dd4.gif)

Would you be able to provide me with an exact version number and device I can reproduce this on? Similarly, I can't repr

[2018-06-05 23:15] #44 closed

[2018-06-07 17:21] sickill commented on #38
It's been almost 2 years since I opened this issue and I'm not using imgix.js right now. Feel free to close the issue 👍

[2018-06-07 19:59] frederickfogerty commented on #38
Thanks for the feedback @sickill. We'll keep this open as it looks like it's a useful feature for the future 👍

[2018-06-07 21:43] frederickfogerty commented on #43
Hey @AnalogMemory and @grabus 👋 I noticed that you responded to my last comment and so I'd like to see if you were interested in reviewing my PR which fixes this issue? The PR is #61.

[2018-06-07 23:04] AnalogMemory commented on #43
@frederickfogerty I'll take a look later tonight! :)

[2018-06-07 23:14] frederickfogerty commented on #59
Hey @DanielRuf, just checking in again to see if you had any ideas on how we could improve the tests for this library. Thanks!

[2018-06-08 00:34] frederickfogerty commented on #40
As this issue is stale, I'm going to close this. Please feel free to open another issue if this issue persists!

[2018-06-08 00:34] #40 closed

[2018-06-08 00:58] #43 closed

[2018-06-08 06:03] OZZlE commented on #49
@frederickfogerty well I reported this a while back so I can't remember all details, but it was happening in with Luminous with multiple slides in the lightbox.

1. Open by clicking on an image
2. Slide to next slide
3. Close lightbox
4. Open it again

[2018-07-10 13:35] sartor commented on #53
destroy method is empty in current LuminousGallery implementation

[2018-07-27 22:51] durasj commented on #53
I needed to destroy the gallery, so in my project, I've pretty much called

`instances.forEach(instance => instance.destroy())`

There are no extra event listeners added as far as I can tell, so it should do the job. I've opened a PR #70 for that. Let me know what do you think @frederickfogerty.

Thanks

[2018-08-30 11:48] petertenhoor opened #72 "Close icon"
It would be an enhancement to be able to add an extra close icon (for example in the right top corner) to the lightbox for UX purposes. There's always people who don't understand that they can click, esc or scroll to close the lightbox.

Perhaps you could add 'closeIcon' which can be an image or a piece of HTML and 'closeIconPosition' with values like 'right top' to the options object :)

Besides

[2018-08-30 12:41] petertenhoor commented on #72
It's not pretty, but for now I ended up doing something like this:

[code]

[2018-09-29 07:27] NicholasJohn16 opened #74 "Can't get prev/next arrows to work"
I wanted to see with the arrow navigation looked like in Luminous, so I download a zip of the repo real quick, edited the index.html file and changed the js to the following:

[code]

But the arrow navigation doesn't seem to work. No new icons appear and the arrow keys don't do anything. Am I missing something? Thank you for your help and great library.

[2018-10-03 00:41] frederickfogerty commented on #74
Hey there @NicholasJohn16, sorry to hear that you've had issue with Luminous! This is on my list of issues to look at for the next two weeks. I'll keep this issue updated with my progress.

[2018-10-11 10:47] hellorich commented on #74
Hi @frederickfogerty - I've had what I think may be similar issues with the Gallery functionality as @NicholasJohn16  - I'm not entirely sure its working as intended, either locally in my project (standard Luminous lightbox seems fine) nor in codepens I've based on the Lightbox example, modified using Gallery code in the readme.

Here's one of my pens: https://codepen.io/anon/pen/RegwWp

It seems

[2018-10-11 19:16] #72 closed

[2018-10-12 09:48] SiamKreative commented on #74
Same issue here

[2018-10-27 16:32] andrejcremoznik opened #105 "injectBaseStyles cannot be false"
It's impossible to disable base style injection because any falsey value will always result in `true`.
[code]
[src/js/Luminous.js#70](https://github.com/imgix/luminous/blob/bbec5179c839feaa4756233b21cbd60ba8bfb81c/src/js/Luminous.js#L70)

I'd do a one line fix but I think the entire options object block should be refactored to something more modern-like.

E.g.

[code]

[2018-11-11 14:09] AlexisWalravens commented on #74
Same issue here, was there any progress on this ?

[2018-11-17 19:18] frederickfogerty commented on #74
Hi all. This was a regression from a previous release and is fixed in the PR #121. If you would like to checkout that PR and test that it fixes the problem, that would be much appreciated. Otherwise, sit tight and a fix should be released soon!

[2018-12-02 15:49] #74 closed

[2018-12-05 03:44] xinxilas opened #136 "Remove Arrows if there is only one image"
Is there anyway to prevent < > Arrows to appears if there is only one image?

[2018-12-05 08:36] frederickfogerty commented on #136
@xinxilas can you please post a codepen/codesandbox or code snippet showing your issue? I can't reproduce this at the moment. Are you using `LuminousGallery` or `Luminous`?

[2018-12-05 13:56] xinxilas commented on #136
@frederickfogerty hello friend, im using LuminousGallery, because the code is "generic" generated by php, so sometimes the gallery will have 1 item most of the times it has more than one image

Ill post the html code later ok?

thank you very much

[2018-12-05 19:59] xinxilas commented on #136
Well, i just coded the php file to include new Luminous(document.querySelector(".galeria")) intsead of LuminousGallery script when there is only one image

Thank you again

[2018-12-09 08:45] frederickfogerty commented on #136
Hi @xinxilas, seems like you've found a way to work-around this. I'll still bring this up internally to see if this is something we should address.

[2018-12-11 21:46] xinxilas commented on #136
OK, thank you !

[2019-02-02 21:29] sylveon opened #177 "TypeScript typings file"
**Before you submit:**

- [x] Please search through the existing issues (both open AND closed) to see if your feature has already been discussed. Github issue search can be used for this: https://github.com/imgix/luminous/issues?utf8=%E2%9C%93&q=is%3Aissue
- [x] Please take a moment to find out whether your idea fits with the scope and aims of the project

**Is your feature request related to a pr

[2019-02-05 21:22] jayeb commented on #177
Hi @sylveon,

Thanks for the ticket. Given Typescript's growing place in the front-end world I agree that this would be an improvement for this library. However, looking at our current roadmap I think it's unlikely that we'll get to this anytime soon.

If you're jazzed up for this though, I'd encourage you to open a PR with the necessary configuration updates!

[2019-02-05 21:22] #177 closed

[2019-03-20 07:52] stavBodik opened #216 "CSS problem in ASP.NET Web application & Angular"
Please Add to the usage instructions that users must include this in the styles.css file :

@import "~luminous-lightbox/dist/luminous-basic.css";

[2019-05-23 23:56] garygreen opened #243 "caption not being updated when changing with prev/next"
When you use a function for `caption` and use the luminous gallery prev/next arrows, it won't call the `caption` function to update. If you close the lightbox and open it does update.

Probably best shown with a gif:

![2019-05-24_00-51-14](https://user-images.githubusercontent.com/1702638/58293691-76172f80-7dbe-11e9-8286-e350dc684441.gif)

https://codesandbox.io/embed/relaxed-mendel-j213i

[2019-05-24 00:25] garygreen commented on #243
I think the problem is that I'm relying on `triggerEl` to work out what element triggered/is being opened in the lightbox but that doesn't appear to ever get updated, [`showNext` uses `currentTrigger`](https://github.com/imgix/luminous/blob/master/src/js/Lightbox.js#L301) - not sure how to access that exactly.

![image](https://user-images.githubusercontent.com/1702638/58294572-be385100-7dc2-11e9-

[2019-05-24 00:30] garygreen commented on #243
For now I've managed to find a way to get the `currentTrigger` but it seems a bit hacky, especially as `_gallery` looks to be private.

[code]

[2019-06-20 23:56] sherwinski commented on #216
Hi @stavBodik, apologies for the super-delayed response to this issue. Just to be clear on usage specifics: the `lumunous-basic` stylesheet is not _required_ to use this package but is provided for users that don't want to worry about figuring out the CSS themselves. As per the [theming section](https://github.com/imgix/luminous#theming) in this repo's README:

Users can obviously choose to extend

[2019-06-21 17:57] #216 closed

[2019-06-27 19:55] sherwinski commented on #243
Hey @garygreen thanks for bringing this to our attention. As you pointed out, you won't be able to access the current trigger element via `triggerEl`. I think your workaround is sufficient but there could be a more intuitive way for other users who want to do the same thing. If you're willing, I'd be happy to review a PR that exposes the current trigger element on the `LuminousGallery` object with

[2019-07-02 23:24] garygreen commented on #243
Hey thanks for the response. I decided to use another lightbox library so I don't think I'll get around to doing a PR so will close this issue for now

[2019-07-02 23:24] #243 closed

[2019-08-30 16:52] ZeldOcarina opened #305 "`new Luminous` requires a DOM element as its first argument."
Hello!

I'm trying to make Lightbox working but I get the quoted error.

This is my code:

index.js

`import { Luminous } from 'luminous-lightbox';

console.log(document.querySelectorAll('.gallery'));
new Luminous(document.querySelectorAll('.gallery'));`

immobile-show.ejs;
`<% if(immobile.immagini) { if(immobile.immagini.length > 0) { %><% immobile.immagini.forEach(function(immagine, i) { %>

[2019-08-30 22:04] sherwinski commented on #305
Hi @ZeldOcarina,
`document.querySelectorAll()` returns a `Nodelist` but the Luminous constructor expects a single element. I would instead try:

[code]

[2019-09-06 18:37] sherwinski commented on #305
Hi @ZeldOcarina, I'm going to close this issue but feel free to comment back if you have any more questions. Thanks

[2019-09-06 18:37] #305 closed

[2019-11-05 14:09] marko-mlinarevic opened #342 "How to open lightbox programmatically"
As the title says for example I have

[code]
and I cannot find in documentation what is method to open it manually

[2019-11-18 02:37] kangw3n commented on #48
Any update on this issue?

I found that `onChange` event is quite useful in some circumstance:

While images inside a gallery is usually was a full size big image, when switching image, it turns out caption had changed while image still being download, which lack of crucial loading information in term of UX, perharp some misleading image caption.

It would be nice if we can pass a callback to indi

[2019-12-10 11:14] powerbuoy opened #360 "Separate basic theme and "fullscreen"-esque mode"
Would be great if they were separate files so that you can include the basic theme without the fullscreen feature for low res.

[2019-12-17 00:08] sherwinski commented on #360
Hi @powerbuoy and thanks for the suggestion. Unfortunately we are focusing our sdk efforts elsewhere right now so it may be a while before I can get back to looking at this. However, I am open to reviewing a PR if that is something you (or anyone else) would be interest in.

[2019-12-17 00:29] sherwinski commented on #48
Hey all, sorry for the silence on this.
I definitely agree that this would be a useful addition to the library. This could also provide a solution to the caption issue @kangw3n mentioned (also discussed in #243). Unfortunately I won't be able to look into this for a while, but would gladly accept a PR if anyone is up for it.

[2019-12-17 00:40] sherwinski commented on #342
Hi @marko-mlinarevic, apologies for taking a while to respond to this. Here is what I would suggest:

[code]

Let me know if this works for you. Thanks!

[2019-12-27 01:40] #342 closed

[2020-01-28 12:30] billythekid commented on #243
I know this is a closed issue but the trigger element is passed to the function, which means you can access any attributes on that element. For me I found that simply supplying a `data-caption` attribute to the limunous link meant I could simply do something like:

[code]

and use selectors something like this in the HTML:

[code]

If I click the arrows in the gallery the caption is updated.

[2020-02-26 07:42] Lefthandmedia commented on #105
this is still an issue today. the fix did not end up in Master so it seems.

[2020-09-13 20:34] #59 closed

[2020-09-17 08:30] ivanff opened #478 "injectBaseStyles not setting"
var injectBaseStyles = options["injectBaseStyles"] || true; // Internal use only!

if set to false, it always true

[2020-09-18 18:38] sherwinski commented on #478
Hi @ivanff 👋, thanks for bringing this to our attention. Agreed that this should be fixed, I'll set some time apart in the next week to address it.

[2020-09-18 18:38] sherwinski commented on #478
Hi @ivanff 👋, thanks for bringing this to our attention. Agreed that this should be fixed, I'll set some time apart in the next week to address it.

[2020-09-22 12:19] neal-wilxite opened #481 "How to inject captions when using LuminousGallery class"
**Question**
I have the following set up to inject captions into the lightbox .  I can add a caption for a sindle image but I cant figure out how to add captions for multiple images.

**HTML**

[code]

**JAVASCRIPT**

[code]

Any help would be welcome.

[2020-09-28 07:33] frederickfogerty commented on #481
Hi there @neal-wilxite! Thanks for opening this question. Since the `caption` config option also takes a function, I think we should be able to make this work.

As shown in the [example](https://github.com/imgix/luminous/blob/fb2543e27f8058ac46ee65d8bfca1a32a244d5d1/index.html#L158-L160), caption (in the function style) is called with the trigger element (in your case, the links). So, in your case

[2020-09-28 07:33] #481 closed

[2020-10-01 17:41] CNK001 opened #484 "Add option to set caption (suggestion)"
It would be great if the gallery supported the caption option when zoomed in, for example from alt or title.

[2020-10-07 11:55] frederickfogerty commented on #484
Hey there @CNK001, thanks for the idea! We've added this to our internal tracker and will post any updates here when we get around to this!

[2020-10-31 01:46] #478 closed

[2020-11-03 21:12] #105 closed

[2020-11-04 00:28] sherwinski commented on #478
Hi @ivanff, the fix for this issue is now released in [v2.3.3](https://www.npmjs.com/package/luminous-lightbox) 🎉

[2020-11-04 00:29] sherwinski commented on #105
Hi @andrejcremoznik @Lefthandmedia, sorry for the extreme delay but the fix for this issue is now released in [v2.3.3](https://www.npmjs.com/package/luminous-lightbox) 🎉

[2020-12-19 08:42] asako08 opened #518 "I want to give a class name to the enlarged image."
Is it possible to give a specific class name to a specific enlarged image?

[2021-01-04 09:13] frederickfogerty commented on #518
Hi there @asako08 👋  thanks for the question.

At this stage, there's no way to do this specifically, but a workaround is to use the default enlarged image class `.lum-open`, or pass a `namespace` property when creating the Luminous instance, which will then cause the lightbox to have a class of `.{namespace}-open`, when enlarged.

[code]

[Documented here](https://github.com/imgix/luminous#option

[2021-01-04 09:13] #518 closed

[2021-01-04 12:48] asako08 commented on #518
Thank you very much.
Solved!

[2021-01-08 16:22] lmuzquiz opened #521 "Demo url on documentation leads to 404 error"
The link to the demo within the Usage section leads to a 404 Error

.... take a peek at [our demo](https://imgix.github.io/luminous). Here's an example of a basic implementation...

Updated your readme.md with the url you have on codepen:  https://codepen.io/imgix/pen/wMgOEL  and made a pull request

[2021-01-12 20:32] #521 closed

[2021-01-21 13:09] renovate[bot] opened #527 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 15:08] #527 closed

[2021-02-06 03:30] wadakatu opened #530 "is it possible to use luminous in vue.js?"
I am trying to create photo website with vue.js and Laravel, and use luminous to magnify the photo when it is clicked.
My photos are stored in AWS S3 bucket.

My vue.js structure is like below.

1.PhotoComponent.vue
  - this component is literally rendering each photo.

[code]

2.PhotoListComponent.vue
  - this component is making a list of PhotoComponent.vue.

[code]

There are three things that

[2021-02-08 09:05] frederickfogerty commented on #530
Konnichiwa @wadakatu,

You should be able to make all of your solutions work.

For 1/ I think you need to be able to target only the image that exists within that component, so something like this could work:

[code]

For 2/ I think there might be an issue where the code isn't actually finding the image elements and thus is providing nothing to the `LuminousGallery` call. Maybe you could try debug

[2021-02-08 09:05] #530 closed

[2021-03-29 07:50] renovate[bot] opened #547 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to ignore the schedule.
 - [ ] chore(dev-deps): update dependency eslint to v7
 - [ ] chore(dev-deps): update dependency karma-webpack to v5
 - [ ] chore(dev-deps): update dependency webpack to v5
 - [ ] chore(deps): lock file maintenance

## Open

[2021-06-16 07:49] jdoubleu opened #552 "Include license in distributed JS"
It would be nice, if you could include a license (e.g. as a JavaScript comment) in the [distributed js file(s)](https://github.com/imgix/luminous/blob/main/dist/Luminous.min.js).

According to your license, I have to include the copyright notice. However, if I'm just including the minified bundle, I have to display the copyright notice somewhere else. So if its included within your dist, it would

[2021-06-21 06:17] sherwinski commented on #552
Hey there @jdoubleu and thanks for opening this request. Our team will discuss this question during our next sync-up and get back to you soon after.

[2021-06-30 23:55] ianhobbs commented on #484
Yes a deal breaker for me. But I see in the gallery mode caption is optioned?

[2021-07-07 19:10] sherwinski commented on #552
Hey @jdoubleu,

After discussing with the team, this sounds like something we can patch in easily. I'll update you once a PR is out.

[2021-07-13 17:26] #552 closed

[2021-07-14 20:29] sherwinski commented on #552
Hey @jdoubleu, the latest release ([v2.3.4](https://github.com/imgix/luminous/releases/tag/v2.3.4)) should include the copyright notice 🎉

[2021-08-07 14:13] Nikodemsky opened #564 "closetrigger?"
So basically i'm trying to disable close trigger on click, but no matter what i put in closeTrigger variable it still closing with the click.

Any help would be much appreciated.

[2021-08-09 18:25] frederickfogerty commented on #564
Hi @Nikodemsky, thanks for the PR 👋  Would you be able to create a reproducible example for us with a codesandbox/codepen or similar? Then we can take a look at this properly 🙌

[2021-08-13 08:36] Haduki029 opened #565 "The image file's height is over when the image is big size"
**Before you submit:**

- [x] Please search through the existing issues (both open AND closed) to see if your question has already been discussed. Github issue search can be used for this: https://github.com/imgix/luminous/issues?utf8=%E2%9C%93&q=is%3Aissue

**Question**
The image file's height is over the window's height when the image is big size in google chrome and edge browsers.
Do you have a

[2021-08-13 11:21] frederickfogerty commented on #565
Hi @Haduki029 👋 thank you for the issue.

It's hard to understand this specific problem without a screenshot or a way to reproduce this issue. Do you think you could provide either of these? Thanks!

[2021-08-13 17:52] Ronamo commented on #565
https://honeycomb.liftoff.shop/vertical-poster-print

Clicking on the product image on this page reproduces the issue.

This issue is present in the current (as of 13-8-21) versions of Chrome and Edge (appears to be Webkit/Blink related) under both Mac OS and Windows, but not present in Firefox or Safari under Mac OS.

[2021-08-16 11:52] frederickfogerty commented on #565
Thanks for the repro, I can see the issue now.

The right solution here is probably to modernise the way the positioning happens in the Lightbox to use Flexbox. Unfortunately I don't think we will have time to prioritise this work internally for a while, but I will add this to the backlog to see what happens.

Alternatively, a quick fix for your situation would be to set `display` to `block` for `

[2021-08-16 12:02] frederickfogerty commented on #564
I'm closing this due to a lack of activity. If there is an update, please comment and we can re-investigate this issue.

[2021-08-16 12:02] #564 closed

[2021-08-25 02:40] Haduki029 commented on #565
Hi, @frederickfogerty
Thank you for fast responsive and your alternatively fix idea.
I will try it and let you know about result.

[2021-09-03 06:13] Karynvo commented on #565
It worked on Chrome for me @frederickfogerty. Thanks! Depending on how you want it to behave on mobile though, when you click on the image, the image will go to full size. I just removed this from the CSS instead of adding display:block;

[code]

Not fully sure of the repercussions on other browsers, but it did the job for me

[2021-10-07 17:37] imgix-git-robot opened #568 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `main` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you

[2021-10-08 13:23] #568 closed, assigned to nobody

[2021-11-10 15:12] #48 closed

[2021-12-28 16:50] bejucoo opened #586 "Keyframe rule ignored due to bad selector."
Hello,

I'm getting a `Keyframe rule ignored due to bad selector.` warning in Firefox 95.0.1. Is it something to worry? I tried in Chrome 96.0.4664.110  and it doesn't appear.

[2021-12-29 17:01] sherwinski commented on #586
Hi @bejucoo, could you please provide a reproducible demo that would throw this warning? That would help us look into it.

[2022-01-26 18:21] dijkermans opened #587 "Small viewport sizes don't scale the image properly"
Hi,

I think you should disable below css because it 'cuts off' images and you have to scroll/drag horizontally and vertically to see the entire image. Especially in portrait mode it looks really odd and I think nobody expects this behavior.

@media (max-width: 460px)
.lum-lightbox-inner img {
    max-width: none;
    max-height: none;
}

I understand if the entire image is shown on small viewport

[2022-01-26 20:09] dijkermans opened #588 "Arrows are not in the vertical center of the image"
Hi,

The arrows are not in the vertical center of the image, but in the vertical center of the image+caption. I'd fix that.

Regards

lum 2.3.5
![arrows](https://user-images.githubusercontent.com/33194795/151238981-f5b619a2-58ca-4c80-950f-8fccc7de063b.jpg)

[2022-01-27 09:41] frederickfogerty commented on #587
Hi @dijkermans, thanks for opening this issue. I have just tested this on my phone, and personally I think this is a good experience, but I will bring this up with my team to get a second opinion.

[2022-01-27 09:42] frederickfogerty commented on #588
Hi @dijkermans, thanks for opening the issue. Yes, this is definitely a bug. At the moment we are heads down with other projects but we would always welcome a [PR](https://github.com/imgix/luminous/blob/main/CONTRIBUTING.md) for this 🙌

[2022-01-27 10:07] dijkermans commented on #587
Hi, thanks, the problem is that you don't know what image to expect in case you browse through many images like a gallery. You could add a thumbnail below the zoomed version if you like. But I'm sure most people like to see the entire image first and then maybe zoom in if they want to see more details. That's how it works on most phones and with most lightboxes. If you want to do it different then

[2022-02-08 13:42] frederickfogerty commented on #587
Hi @dijkermans, thank you for your detailed suggestions. At this stage, our team is content with the functionality of this component, so will not be considering altering the functionality. We're also welcome to more suggestions or feedback at any time, so please let us know if you encounter other issues in the future. Thanks!

[2022-02-08 13:42] #587 closed

[2022-06-03 11:01] andreymal opened #595 "onChange doesn't work"
I tried to use `dist/luminous.min.js` (commit https://github.com/imgix/luminous/commit/1c53f53e2471022e95ebcd69567e948b6ef225b9) and found that `onChange` doesn't work:

[code]

But this code works:

[code]

The minification minified things that shouldn't have been minified, lol

[2022-06-17 19:55] sherwinski commented on #595
Hey @andreymal thanks for bringing this to our attention. I've made a note of this and will ask one of our engineers to investigate.

[2022-06-21 22:19] sherwinski commented on #565
Closing this as there appears to be an adequate answer provided.

[2022-06-21 22:19] #565 closed

[2022-06-22 19:32] sherwinski commented on #38
Closing this issue as it is quite old but I have noted this idea in our backlog for future consideration.

[2022-06-22 21:53] #53 closed

[2022-09-30 17:18] luqven commented on #586
Hey there @bejucoo,

Since there hasn't been any movement recently on this issue I'm going to go ahead and close it. If you still have an issue/questions please comment and I'll be happy to re-open it.

[2022-09-30 17:18] #586 closed